<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">

    <title>@ViewBag.Title</title>


    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div>

        @RenderPage("~/Views/Shared/_Topo.cshtml")

    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


     <div>

          @RenderPage("~/Views/Shared/_Rodape.cshtml")
       

    </div>
</body>
</html>
