@model FastTickets.Models.CadastroEventoModel
@{
    ViewBag.Title = "Delete";
}


<div class="container">

    <h2>Exclusão</h2>

    <h3>Você tem certeza que deseja excluir este evento?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>@Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>@Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd>@Html.DisplayFor(model => model.Data)
            </dd>
            <dt>@Html.DisplayNameFor(model => model.LocalEvento.Nome)
            </dt>
            <dd>@Html.DisplayFor(model => model.LocalEvento.Nome)
        </dl>

        @*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@

        <div class="excluir-btn"></div>
        @using (Html.BeginForm())
        {
           
            <div>
                <input type="submit" value="Delete" class="btn" />
            </div>
        }

        <br />
        <div>
            @Html.ActionLink("Voltar para os Eventos", "Index", "Home", new { @class = "btn" })
        </div>
        </div>

    </div>
</div>

