@model IEnumerable<FastTickets.Models.CadastroEventoModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.TextBox("nome", null, new { @class = "input-sm" })
            <input type="submit" value="Pesquisar" class="btn" />
        }

    </div>



    <br />
    <div class="editor-field">
        <table class="table">
            <tr>
                <th>Nome do Evento</th>
                <th>Data do Evento</th>
                <th>Local do Evento</th>
                <th colspan="2"></th>
            </tr>
            <tbody>
                @foreach (var evento in Model)
                {
                    <tr>
                        <td>
                            @evento.Nome
                        </td>
                        <td>
                            @evento.Data.ToShortDateString()
                        </td>
                        <td>
                            @evento.LocalEvento.Nome
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = evento.EventoId })
                            @Html.ActionLink("Excluir", "Excluir", new { id = evento.EventoId })
                        </td>


                    </tr>   
                }
            </tbody>

        </table>



    </div>
</div>
